

* {
  box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 17px;
}

body {
	background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x:hidden;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

form {
	background: #eee;
	padding: 10px;
}

form div {
	background: #fff;
	border-bottom: 1px solid #33f;
	margin: 1rem;
	padding: 2rem;
}

label {
	margin-bottom: 1rem;
	font-size: 1.4rem; 
	font-family: sans-serif;
	font-weight: bold;
	color: #66F;
}

input {
	padding: 1rem;
}

 textarea, label {
	display: block;
	width: 100%;
}

header {
  background-color: black;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #5BBE42;;
}

nav {
  width: 100%;
  padding: 20px;
  font-size: 15px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
nav a {
  color: white;
  text-decoration: none;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
}

section::after {
  content: "";
  display: table;
  clear: both;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 18px;
}
nav a:hover {
  color: #5BBE42;
  cursor:pointer;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }

}