/* Importando CSS de Tabelas */
@import url('tabelas.css');


/* 

	Herança

	1. Sobreposição / Sobrescreve
	2. Aplica a último estilo definido
	3. Prioriza estilo específicas (com seletores mais próximos)
	4. Se aplica a todas as propriedades

 */


html {
	font-family: sans-serif;
	color: #333333;
}

p {
	color: #454545;
}

header p {
	color: #5BBE42;
	font-size: 1.5rem;
}


/* 

	Combinadores 
	
	(espaço) seletor descendente 
	(>) combinador de seletores filhos
	(+) combinador de elementos irmãos adjacentes / que vem logo na sequencia
	(~) combinador de elementos irmãos geral / após elemento de referência

	
*/


header h2 {
	font-weight: 200;
}


header > h2 {
	font-weight: 500;
}

h2 + p {
	background: rgb(255, 183, 0);
	color: #333;
}

h2 ~ h5 {
	font-size: 1.2rem;
}

div ~ p {
	text-transform: uppercase;
}


h2:hover {
	color: rgb(133, 24, 24);
}


/* 
	Tipografia
*/

html {
	font-family: sans-serif;
}

h2 {
	font-weight: 400;
	text-shadow: 1px 1px rgba(6, 6, 6, 0.545);
	font-size: 23px;
}

p {
	font-weight: normal;
	font-size: 1.5rem;
}
h3 {
	font: italic bold 1rem/2 sans-serif;
	opacity: .3;
}

body {
	background-color: black;
}
section {
	background: black;
}

p {
	color: blue;
	color: #034589;
}

header {
	background-color: rgb(45, 96, 217);
}
footer {
	background-color: rgb(45, 96, 217);
	font-size: 15px;
    color: #5BBE42;
	font-size: 15px;
	text-align: center;
}
.container {
    position: relative;
    width: 100vw;
    margin: 0 auto;
    padding: 0 40px;
}

