

table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
	background: #ffffff;
	width: 100%;
	border-collapse: collapse;
	box-shadow: 5px 10px #b0afaf83;
}
table tr ,td {
	border: 1px solid #757575;
}

table th{
	border: 1px solid #151414;
	padding: 1rem;
	font-size: 1.6rem;
	text-align: center;
	vertical-align: middle;
}
table td {
	color:#5BBE42;
	padding: 1rem;
	font-size: 1.6rem;
	text-align: center;
	vertical-align: middle;
}
table tbody tr:nth-child(odd) {
	background-color: aqua;
}
table tr td:first-child {
	text-align: left;
	font-weight: bold;
}

table tbody tr:hover {
	background-color: #e5665021;
	opacity: .5;
}
table th {
	background-color: #234589;
	color: #5BBE42;
	font-weight: bold;
	font-size: 1.7rem;
	text-shadow: 2px 2px #151414;
}
.table-container tfoot {
	background: #f17575;
	opacity: .8;
}
.table-container tfoot td {
	font-weight: bold;
	font-style: oblique;
}
